# Imortar de MySQL a sqoop

sqoop version

# a

In [ ]:
#volcado de datos desde mysql a sqoop
sqoop import --connect jdbc:mysql://localhost/nombredatabase 
        --username nombreusuario --p --table nombretabla 
        --target-dir sqoop

In [ ]:
#visualizar que trajimos los archivos hdfs
hdfs dfs -ls sqoop

In [ ]:
#visualizar el contenido de uno de esos archivos
hdfs dfs -cat sqoop/nombrearchivo

## b

In [ ]:
#volcado de datos desdde mysql a sqoop, con filtrado
sqoop import --connect jdbc:mysql://localhost/nombredatabase 
        --username nombreusuario --p --table nombretabla 
        --m l
        --target-dir nombredestino --where "variable='valor'"

In [ ]:
#visualizar que trajimos los archivos hdfs
hdfs dfs -ls nombredestino

In [ ]:
#visualizar el contenido de uno de esos archivos
hdfs dfs -cat nombredestino/nombrearchivo

## Exportar de una base de datos a MySQL

In [ ]:
sqoop export --connect jdbc:mysql://localhost/nombredatabase 
        --username nombre usuario --p --table nombretabla 
        --export-dir sqoop